body {
    background-color: rgb(59, 59, 59);
}

header {
    background-image: url('images/baguette.png'); 
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 1000px;
}

.rectangle {
	width:900px;
	height:600px;
    background:rgb(255, 255, 255);
    
    position: absolute;
    top: 17em;
    right: 8em;
    
    opacity: 0.33;
}