body {
    background-color: #343a40;
}

.menu {
    text-decoration-color: darkorchid;
}

header {
    background-image: url('images/baguette.png'); 
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 1000px;
}


.presentation {
    margin-top: 18em; 
    
}


.produit {
    margin-top: 5em;
    margin-bottom: 5em;
}

.line1_img {

margin-bottom: 2em;
}

.line2_img {
    margin-bottom: 5em;
}

.news {
    margin-bottom: 4em;
   
}

.info {
    background-color:#343a40;
    border-color: darkgrey;
}

footer {
    background-color: rgb(219, 104, 27);
}

.info_footer {
    margin-top:2em;
}